__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so
data/*
!data/admet_group/
data/admet_group/*
!data/admet_group/bbb_martins/
data/admet_group/bbb_martins/*
!data/admet_group/bbb_martins/test.csv
!data/admet_group/bbb_martins/train_val.csv
output/*
!output/bbb_results.json
.env
*.log
.venv/
venv/
.ipynb_checkpoints/
*.pkl
*.npy
*.npz
catboost_info/
pretrained_gin/
.DS_Store
